* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@300;400;700&display=swap');

body {
  background-color: #f1f3f6;
  color:#464647;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  line-height: 1.5;
}

/* HEADER*/

#main-header {
    background-color: #17174A;
    color: white;
    text-align: center;
    padding: 48px 16px;
}

#main-header h1{
    font-family: 'Orbitron', sans-serif;
    font-size:2.5 rem;
    margin-bottom:1 rem;
}

#main-header p{
    color:#b0c4de;
}

/*NAVIGATION*/
nav {
    background-color:#2C2C33 ;
    text-align: center;
    padding: 13px 0;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin: 0 24px;

}

nav ul li a{
    color: #c5cdda;
    font-weight: 500;
    padding: 8px 16px;

}

nav ul li a:hover {
    background-color: #147de7;
    color: white;
}

nav ul li a:active {
    background-color: #0c4e90;
    color: white;
}

/*CONTAINER*/
.container{
    max-width: 900px;
    text-align: center;
    padding: 0 16px;
}

/*HEADINGS*/
h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 16px;
    border-bottom: 3px solid #379bff;
    padding-bottom: 8px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.6rem;
    margin-bottom: 18px;
    color:#0e973b;
    padding-bottom: 10px;
}

/*HIGHLIGHT*/

.highlight {
    background-color: #9bcbfc;
    border-left: 4px solid #379bff;
    padding:16px;
    margin-top: 16px;
    font-style: italic;
}

/*TOOL-CARD*/

.tool-card{
    background-color: white;
    padding: 24px;
    margin-top: 24px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/*TABLE*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 32rem;
}

thead {
    background-color: #379bff;
    color:white;
}

th, td {
    padding: 16px;
    text-align: left;
}

tbody tr:nth-child(even){
    background-color: #c1c1c2;   
}
tbody tr:hover {
    background-color: #b0cdf4;
}

